.git
.idea
.agents
.codex
logs
**/*.iml
**/src
**/target/classes
**/target/test-classes
**/target/generated-sources
**/target/generated-test-sources
**/target/maven-archiver
**/target/maven-status
**/target/surefire-reports
deploy/.env
